[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
	branch = master
[submodule "themes/cloak-email"]
	path = themes/cloak-email
	url = https://github.com/martignoni/hugo-cloak-email.git
	branch = master
[submodule "public"]
	path = public
	url = git@github.com:orchestrato-io/website.git
	branch = master
